*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --blue: #4F5BEF;
  --white: #FFFFFF;
  --gray: #F8F8F8;
  --red: #FF5757;
}

#container{
  width: 100%;
  height: 100vh;

  display: flex;
  position: relative;
}

#container div.login{
  background: var(--blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 40%;

  padding-top: 8rem;
  padding-bottom: 2rem;

  border-radius: 20px 0 0 20px;
}

#container div.login img{
  height: 13rem;
  width: 13rem;
}

#container div.login div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;

  position: relative;
}



#container div.login div:nth-child(2) input{
  width: 100%;
  height: 2.5rem;
  padding-left: 3rem;

  background: transparent;
  border: 2px solid var(--white);
  border-radius: 25px;

  margin-bottom: 1rem;

  outline: none;

  font-size: 1.2rem;
  color: var(--white);

  position: relative;
}

#container div.login div:nth-child(2) span:nth-child(2){
  position: absolute;
  top: 0.5rem;
  left: 1rem;

  color: var(--white);
}

#container div.login div:nth-child(2) span:nth-child(5){
  position: absolute;
  top: 4rem;
  left: 1rem;

  color: var(--white);
}


#container div.login div:nth-child(2) button{
  width: 100%;
  height: 3rem;

  background: var(--white);
  border: none;
  border-radius: 25px;

  font-size: 1rem;
  font-weight: 600;
  color: var(--blue);

  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

#container div.login div:nth-child(2) button:hover{
  filter: brightness(0.8);
}


#container div.login div:nth-child(3){
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  color: var(--white);
  font-weight: 400;
}

#container div.login div:nth-child(3) a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}

#container div.background{
  width: 60%;
  overflow: hidden;

  display: flex;
  align-items: center;

  background: var(--gray);
}

#container div.background img{

  transform: translateX(-25%);
}

/*Denied access*/

#container div.login div:nth-child(2) input:nth-child(1).denied{
  width: 100%;
  height: 2.5rem;
  padding-left: 3rem;

  background: transparent;
  border: 2px solid var(--red);
  border-radius: 25px;

  margin-bottom: 1rem;

  outline: none;

  font-size: 1.2rem;
  color: var(--white);

  position: relative;
}

#container div.login div:nth-child(2) span:nth-child(2).red{
  color: var(--red);
}

#container div.login div:nth-child(2) span.hide{
  display: none;
}
#container div.login div:nth-child(2) span.show{
  display: flex;
  color: var(--white);
  position: absolute;
  top: 2.5rem;
  left: 1rem;

  font-size: 0.8rem;
}